---
layout: default
---
      <div class="card">
                          
        <h1 class="title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
          
        <div class="date">
            <span>{{ page.date | date: "%d.%m.%Y" }}</span>            
            <span class="category">
              <a href="{{ site.baseurl }}/categories/all.html">Categories</a>
            </span>
            <span class="category">
              <a href="{{ site.baseurl }}/categories/{{ page.categories }}">{{ page.categories }}</a>
            </span>
        </div>
        <div class="card-action">{{ content }}</div>

        

      </div>
